{% extends 'base.html' %}

<!DOCTYPE HTML>
<html lang="en">

<body>
	{% block content %}
	<!-- spacer section -->
	<section class="spacer green">
		<div class="container">
			<div class="row">
				<div class="span12 aligncenter flyUp">
					<h2 class="pagetitle">404<strong> Oops</strong>!</h2>
				</div>
			</div>
		</div>
	</section>
	<!-- end spacer section -->
	<!-- section: team -->
	<section id="maincontent" class="inner">
		<div class="container">

	</div> <!-- div class="container"> -->
	</section>
 {% endblock %}
</body>

</html>
