{% extends 'base.html' %}

<!DOCTYPE HTML>
<html lang="en">

<body>
	{% block content %}
	<div id="header-wrapper" class="header-slider">
		<header class="clearfix">
			<!--<div class="container"> -->
				<div class="form-group">
					<div id="login-form" class="login-container">


					<h1>Logga in</h1>

					<!-- Show any flashed error messages -->
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							{% for message in messages %}
								<div class="alert alert-error">
									<button type="button" class="close" data-dismiss="alert">&times;</button>
										{{ message }}
									</div>
							{% endfor %}
						{% endif %}
					{% endwith %}


					<form action="/login" method="POST">
						{{ form.hidden_tag() }} <!-- Protects again CSRF -->
					  <div class="form-group">
							{{ form.username() }}

							{% if form.username.errors %}
					 			{% for error in form.username.errors %}
									<div class="alert alert-error">
										<button type="button" class="close" data-dismiss="alert">&times;</button>
										{{ error }}
									</div>
					 			{% endfor %}
							{% endif %}

							{{ form.password() }}
							{{ form.remember_me() }}
							{{ form.remember_me.label(class="label login-label") }}
							{{ form.submit }}
						</div>

					</form>
					<a href="{{ url_for('register') }}"><button class="btn btn-block">Registrera dig</button></a>
				</div> <!-- <div id="login-form" class="login-container"> -->
			</div> <!-- <div class="form-group"> -->
		</header> <!-- <header class="clearfix"> -->
	</div> <!-- <div id="header-wrapper" class="header-slider"> -->

	<!--<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>-->
	{% endblock %}
</body>
</html>
